<div class="container">
  <div class="row justify-content-center">
    <h1>DOTA Time</h1>
  </div>
  <div class="row col-sm-6 offset-sm-3">
    <p>
      Enter your steam 32 id below and find your winrate by the hour for each day of the week.
    </p>
  </div>

</div>

<div class="container">
  <div class="row justify-content-center">
    <form #form="ngForm">
      <div class="form-group row">
        <label for="steamid" class="col-sm-6 col-form-label">Steam 32 ID:</label>
        <div class="col-sm-6">
          <input class="form-control" type="text" title="steamid" id="steamid" name="steamid" [(ngModel)]='formModel.steamID' required/>
        </div>
      </div>

      <div class="form-group row">
        <label for="mode" class="col-sm-6 col-form-label">Game Mode:</label>
        <div class="col-sm-6">
          <select [(ngModel)]='formModel.gameMode' name="mode" id="mode" class="form-control">
            <option *ngFor="let gameMode of gameModes" [value]="gameMode">{{getGameModeName(gameMode) | decamel}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="lobby" class="col-sm-6 col-form-label">Lobby Type:</label>
        <div class="col-sm-6">
          <select [(ngModel)]="formModel.lobbyType" name="lobby" id="lobby" class="form-control">
            <option *ngFor="let lobbyType of lobbyTypes" [value]="lobbyType">{{getLobbyTypeName(lobbyType) | decamel}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="party" class="col-sm-6 col-form-label">Party Size:</label>
        <div class="col-sm-6">
          <select [(ngModel)]="formModel.partySize" name="party" id="party" class="form-control">
            <option *ngFor="let partySize of partySizes" [value]="partySize" [label]="partySize">{{partySize}}</option>
          </select>
        </div>
      </div>

      <button (click)='onClickGo()' title="submit" type="submit" class="btn btn-primary col-sm-12 shadow-none">GO</button>
    </form>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center" *ngIf="formModel.partySize.toString() !== 'Any'">
    <p>Note: Party size filter can be inaccurate for matches before 2018</p>
  </div>
</div>
<div *ngIf="showTable === true">
  <div class="text-center">
    <h2 id="includedMatches">Matches Included / Total: {{totalMatchesIncluded}}/{{totalMatchesPlayed}}</h2>
  </div>
  <div class="table-responsive col-sm-12">
    <table class="table">
      <tr>
        <th></th>
        <ng-container *ngFor="let hour of hours">
          <th>{{hour}}:00</th>
        </ng-container>
      </tr>
      <ng-container *ngFor="let dayReport of dayReports">
        <tr>
          <td class="day">{{dayReport.day}}</td>
          <ng-container *ngFor="let hourReport of dayReport.hourReports">
            <td [class]="hourReport.colorType">
              {{hourReport.winrate | number:'1.0-0'}}%
            </td>
          </ng-container>
        </tr>
      </ng-container>
    </table>
  </div>
</div>
