h1{
  color: #CF6766;
}

h2, p{
  color: white;
}

form{
  margin-bottom: 1em;
}

table{
  border-collapse: collapse;
}

th, .day{
  background: #7e9a9a;
  font-weight: bold;
}

th, td {
  width: 100px;
  padding: 10px;
}

table, th, td {
  border: solid black 1px;
}

label {
  display: block;
  color: white;
}

.btn {
  background-color: #30415D;
  border: 0 none;
}

.btn:active:focus, .btn.active:focus {
  outline: 0 none;
  background: #8EAEBD;
}


/* table cell colors */

.none{
  background: darkgray;
}

.veryLow{
  background: #7a0000;
}

.low {
  background: #9d0000;
}

.average {
  background: yellowgreen;
}

.high {
  background: lightgreen;
}

.veryHigh {
  background: darkgreen;
}

.superHigh {
  background: lightseagreen;
}
